@charset "UTF-8";
*{
    /*height: 100%;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image:linear-gradient(to right, rgb(255, 220, 185), rgb(255, 201, 109));

}
p{
    text-align: justify;
}
main {
    background-color: white;
    widht:600px;
    padding: 10px; /*Acolchoamento*/
    border-radius: 10px; /*Arredondadinho nas quinas EU AMEI*/
    box-shadow: 5px 5px 15px rgb(150, 127, 78); /*parametro 1: Quanto anda pro lado
    parametro 2: Quanto vai andar pra baixo
    parametro 3: Quanto essa sombra vai espalhar
    parametro 4:cor e trasnparencia*/
    margin:auto /*O conteúdo vai ficar centralizado na tela*/

}
h1{
    color:#f39209 ;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(106, 84, 46);

}
h2{
    color: #125189;

}